@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
header{
    background-color: #16161A;
}

.r1{
  height: 150px;
}

nav a{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-left: 40px;
    color: white;
}


nav a:first-child{
  margin-left: 24px;
}

nav a:nth-child(2){
 color: #FF8900;
}

nav a:nth-child(3){
  color: #FFC34D;
 }

 nav a:hover{
  text-decoration: none;
  color: #b4b4b4;
}

#logo{
  height: 106px;
  width: 142px;
  text-align: center;
}

#auth{
  height: 42px;
  width: 192px;
  margin-right: 40px;
  background-color: #FF8900;
  color: white;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px;
 
}

#auth:hover{
  background-color: #b4b4b4;
}
.main{
  background-color: #18181D;
}


video{
  width: 870px;
  height: 489px;
  margin-top: 74px;
  margin-bottom: 39px;
  border-radius: 15px;
}

.serv{
  border-radius: 20px;
  margin-bottom: 58px;
  height: 122px;
  width: 272px;
  background-color: white;
  background-image: url("../assets/2.jpg");
}

.serv *{
  
  color: white;
}


.fr{

  padding-top: 8px;
  padding-left: 40px;
  padding-right: 40px;
}

.fr div{
  display: inline-block;
}

.serv-name{
font-style: normal;
font-weight: 900;
font-size: 18px;
margin-bottom: 0px;
}

.max-players{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 9px;
  }
.pla{
  transform: translateY(-40%);
}
  .map{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 9px;
      }

      .players{
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 9px;
          }
          .curent_players{
            font-family: 'Roboto', sans-serif;
            font-size: 13px;
            font-weight: bolder;
             color: yellowgreen;
          }
      
.descr{
  font-family: 'Roboto', sans-serif;
font-style: normal;
color: white;
font-weight: bold;
font-size: 18px;
line-height: 21px;
}

.description{
  margin-top: 10px;
  margin-bottom: 81px;
  font-family: 'Roboto', sans-serif;
  color: #C0B9B9;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

.coment{
  margin-top: 33px;
  width: 250px;
}



.come-1{
font-family: 'Roboto', sans-serif;
color: white;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
margin-bottom: 5px;
}

.come-2{
  font-family: 'Roboto', sans-serif;
  color: #929292;
  font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 12px;
margin-bottom: 5px;
  }

  .come-3{
    font-family: 'Roboto', sans-serif;
    color:#C0B9B9;;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    }

.cs{
  margin-left: 178px;
}

footer{
  background-color: #16161A;
}

.cprght{
  margin-top: 26px;
  font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
color: #C0B9B9;
font-family: 'Roboto', sans-serif;
}

.medias{
  margin-bottom: 14px;
}

.medias a{
  margin-left: 10px;
  color: white;
  margin-bottom: 14px;
}

.medias a:first-child{
  margin-left: 0px;

}


.vipki{
  background-color: #18181D;

}


.bronze{
  margin-top: 264px;
  width: 310px;
  border-radius: 15px;
  background-color: red;
  margin-bottom: 180px;
  background-color: #000000;
}

.silver{
  margin-top: 205px;
  width: 310px;

  border-radius: 15px;
background-color: red;
margin-bottom: 180px;
background-color: #000000;
}

.gold{
  margin-top: 120px;
  width: 310px;
  border-radius: 15px;
  border: 2px solid #FFEA80;
  box-shadow: 0px 0px 4px 5px rgba(255, 234, 128, 0.25), inset 0px 0px 10px 2px #FFEA80;
background-color: red;
margin-bottom: 180px;
background-color: #000000;
  }


.znak{
  display: table;
  margin: 0 auto;
  width: 76px;
height: 77px;
transform: translateY(-50%);
}

.zhl{

height: 47px;
display: table;
margin: 0 auto;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 56px;
color: #FFFFFF;
text-shadow: -4px 0px 0px #D25F2D;
}

.opor{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 10px;
line-height: 12px;
color: #817C7F;
margin-left: 32px;
margin-top: 32px;
}

.previleg li{
  margin-top: 7px;
}

.previleg li{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 14px;
color: #FFFFFF;
}

.ciara{
  margin-top: 28px;
  border: 0.01px solid #AEAEAE;
  }

 .lngth{
  display: table;
  margin: 0 auto;
  margin-top: 19px;
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 900;
font-size: 9px;
line-height: 11px;
color: #817C7F;
   }

   .pric{
    display: table;
    margin: 0 auto;
    margin-top: 17px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
   }

   .pric img{
   transform: translateY(-25%);
   }

   .kup{
     transform: translateY(-37px);
    width: 264px;
   height: 37px;
   display: table;
   margin: 0 auto;
   padding-top: 5px;   
   margin-top: 56px;
   background: #FF8900;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
font-style: normal;
font-weight: 900;
font-size: 18px;
text-decoration: none;
color: #FFFFFF;
  }

    .kup:hover{
      text-decoration: none;
      color: white;
      background-color: #b4b4b4;
    }

.modal{
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.modal-content{
  width: 354px;
  height: 544px;
border: 1px solid #FF8900;
box-shadow: 0px 0px 4px #FF8900, inset 0px 0px 4px 2px #FF8900;
}
.modal-backdrop
{
    opacity:0.3 !important;
}
#mdd{
  background-color:#161619;
  border-radius: 20px;
}

.modal-content img{
  width: 142px;
height: 106px;
display: table;
margin: 0 auto;
margin-top: 55px;
}

.modal-content p{
  margin-top: 31px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 95%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  
}
.close{
  color: white;
  margin-left: 92%;
  margin-top: 7px;
  margin-right: 10px;
}

.modal-content p:last-child{
  max-width: 250px;
  text-align: center;
  display: table;
  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 32px;
}
.modal-content i{
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 10px;
margin-top: 20px;
margin-bottom: 5px;
text-align: center;
line-height: 12px;
color: #817C7F;
}
.modal-content a{
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  width: 235px;
height: 28px;
background: #18181D;
border: 1px solid #505053;
box-sizing: border-box;
border-radius: 5px;
display: table;
margin: 0 auto;
font-family: 'Roboto', sans-serif;
text-align: center;
color: #FFFFFF;
text-decoration: none;
pointer-events: none;
   cursor: default;
}

#coal2{
  display: inline-block;
  height: 24px;
  width: 25px;
  margin: 0px;
  transform: translateY(-3px);
}

.modal-content a:not([href]) {
  color: white;
  text-decoration: none;
}

.lng2{
  font-family: 'Roboto', sans-serif;
  width: 240px;
font-style: normal;
font-weight: bold;
font-size: 10px;
line-height: 12px;
margin-bottom: 25px;
}

.selsr{
  margin-top: 50%;
  font-family: 'Roboto', sans-serif;
color: white;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.095em;
color: #FFFFFF;
}
.btn-group{
  margin-top: 5px;
}
.btn-secondary{
  width: 163px;
height: 162px;
background-color:transparent ;
box-shadow: inset 0px 0px 10px 1px rgba(255, 255, 255, 0.25);
border-radius: 10px 0px 0px 0px;
}
.btn-secondary:nth-child(3){
 display: inline;
}
.by{
  font-size: 24px;
  margin-top: 50%;
  transform: translateY(-50%);
}

.durat{
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
letter-spacing: 0.095em;
float: left;
color: #FFFFFF;
margin-top: 25px;
}

.fa-calendar{
  margin-right: 10px;
}

.ptv{
 margin-top: 70px;
}

.nav-link{
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 22px;
color: #FFFFFF;
max-width: 200px;
}

.nav-link:hover{
  color: #b4b4b4;
}

.nav-link:hover{
  color: #b4b4b4;
}

.nav-pills .nav-link.active{
  color: #FF8900 !important;
  background-color: transparent !important;
  border-left: 2px solid #FF8900;
  border-radius: 0px;
}

.item{
  width: 162px;
padding: 10px;
display: inline-block;
background: #161619;
border-radius: 15px;
margin: 10px;
}


.endr i{
  display: table;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 900;
font-size: 10px;
line-height: 12px;
color: #505053;
margin-top: 7px;
}

.srch-input{
  margin-bottom: 20px;
  margin-top: 25px;
  background: #18181D;
border: 1px solid #505053;
box-sizing: border-box;
border-radius: 5px;
color: white;;
}

#find{
  display: inline-block;
  border-radius: 5px;
}

#find-ic{
  color: white;

}

#v-pills-tabContent{
  overflow: auto;
  height: 600px;
  margin: 10px;
}

#v-pills-tabContent::-webkit-scrollbar-track
{
	
	border-radius: 10px;
  background-color: #16161A;
}

#v-pills-tabContent::-webkit-scrollbar
{
	width: 10px;
  background-color: #16161A;
}

#v-pills-tabContent::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	
	background-color: #FF8900;
}

.it-im-a img{
   margin-left: 50%;
   transform: translateX(-50%);
}
.it-im-a:hover{
  opacity: 0.5;
}

#buyModal #mdd{
  width: 350px;
}

#buyModal p{
  margin-top: 0px;
}

#ct{
  margin-top: 0px;
}

#buyModal img{
  display: table;
  margin: 0 auto;
  margin-top: 30px;
  height: 125px;
  width: 125px;
}

#am{
  margin-top: 50px;
}

#buyModal input{
  display: table;
  margin: 0 auto;
  width: 200px;
  background-color: transparent;
  color: white;
  margin-top: 5px;
  border: 1px solid  white;
  text-align: center;
}

#prp{
  transform: translateY(-37px);
  width: 264px;
 height: 37px;
 display: table;
 margin: 0 auto;
 padding-top: 5px;   
 margin-top: 56px;
 background: #FF8900 !important;
border-radius: 5px;
font-family: 'Roboto', sans-serif;
text-align: center;
font-style: normal;
font-weight: 900;
font-size: 18px;
text-decoration: none;
color: #FFFFFF;
pointer-events:auto !important;
 cursor:pointer;
}

#prp:hover{
  background-color: #b4b4b4;
}

#mn{
  display: table;
  margin: 0 auto;
  margin-top: 1px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

#mn img{
  height: 30px;
  width: 30px;
  display: inline-block;
  transform: translateY(-20px);
}